<h1>Add Party:</h1>
<form>
      <label>Name</label>
      <input ng-model="newParty.name">
      <label>Description</label>
      <input ng-model="newParty.description">
  <label>Public</label>
<input type="checkbox" ng-model="newParty.public">
      <button ng-click="newParty.owner=$root.currentUser._id; parties.push(newParty)">Add</button>
    </form>


    

    <h1>Parties List:</h1>
  <div>
    <input type="search" ng-model="search" placeholder="Search">
    <select ng-model="orderProperty">
      <option value="1">Ascending</option>
      <option value="-1">Descending</option>
    </select>
  </div>



  <br>

      <table>

      <tr>
    <th>Party Name</th>
    <th>Party Description</th> 
    <th>Delete</th>
    <th>Creator</th>
  </tr>


      <tr dir-paginate="party in parties | itemsPerPage: perPage" total-items="partiesCount.count">


        <td href="/parties/{{party._id}}">{{party.name}}</td>

        <td>{{party.description}}</td>
        <td><button ng-click="remove(party)">X</button></td>
        <!-- <p><small>Posted by {{ creator(party) }}</small></p> -->
        <td><p><small>Posted by {{ creator(party) | displayName }}</small></p></td>
        </tr>

      </table>

    
    <ul>

    <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>

    </ul>